<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario doador:</strong>
  <%= @troca.usuario_doador_id %>
</p>

<p>
  <strong>Usuario receptor:</strong>
  <%= @troca.usuario_receptor_id %>
</p>

<p>
  <strong>Material:</strong>
  <%= @troca.material_id %>
</p>

<p>
  <strong>Raiting:</strong>
  <%= @troca.raiting %>
</p>

<%= link_to 'Edit', edit_troca_path(@troca) %> |
<%= link_to 'Back', trocas_path %>
