<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @usuario.senha %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @usuario.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @usuario.estado %>
</p>

<p>
  <strong>Pontos:</strong>
  <%= @usuario.pontos %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @usuario.rating %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
